.pulse {
  border-color: #B00103;
  border-style: solid;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  overflow: scroll;
  margin: 10px;
  z-index: 0;
}

.beat {
  background-color: #FF4C59;
  width: 200px;
  height: 200px;
  overflow: scroll;
  border-radius: 5px;
  margin: 0 auto;
  z-index: 1;

}